

#Profile {
  border: .25px solid black;
  object-fit: contain;
  border-radius: 4%;
  width: 80%;
  height: auto; 
  max-width: 500px;
  max-height: 600px;
  box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);

}


.profile-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}



.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}