#projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.project-img {
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px;
}

.tech-icons {
  margin-top: 1rem;
}

.faHtml5, .faCss3Alt, .faJs, .faPython {
  margin-right: 10px;
}
