.project-img, .svg-icon {
  aspect-ratio: 4/3;
  width: auto;
  height: 250px;
  object-fit: contain;
}

.tech-icons {
  margin-top: 1rem;
  display: flex;
  gap: 10px;  /* Creates space between the icons */
}

/* Updated style for SVG icons */
.svg-icon {
  width: 40px;  /* Adjust as needed */
  height: 40px;  /* Adjust as needed */
}

/* Legacy FontAwesome icon style, can be removed if not in use */
.tech-icons .svg-inline--fa {
  font-size: 20px;
  color: #333;
}
