

.project-img, .svg-icon {
  aspect-ratio: 4/3;
  width: auto;
  height: 250px; 
  object-fit: contain;  
}

.tech-icons {
  margin-top: 1rem;
  display: flex;
  gap: 10px;  /* Creates space between the icons */
}

/* Style each FontAwesome icon */
.tech-icons .svg-inline--fa {
  font-size: 20px;
  color: #333;
}



.tech-icons {
  margin-top: 1rem;
  display: flex;
  gap: 10px;  /* Creates space between the icons */
}

/* Style each SVG icon */
.tech-icons svg {
  width: 20px;  /* You can change these dimensions as you see fit */
  height: 20px;
}

/* Style each FontAwesome icon - can be removed if you're fully switching to SVGs */
.tech-icons .svg-inline--fa {
  font-size: 20px;
  color: #333;
}

