/* #skills li {
  display: flex;
  flex-direction: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(234, 238, 239, 0.931);
  font-size: large;
  font-style: none;
  margin: 10px;
  padding: 10px;
} */


#skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}


.icon{
  background: lightgrey;
  flex-basis: 200px;
  flex-grow: 1;
}

