.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem; /* Reduce the right padding to bring content closer together */
}

#Profile {
  border: .25px solid black;
  padding: 2px;
  border-radius: 4%;
  width: 35%; /* Increased size for default view. Adjust this and media queries as needed */
  position: absolute;
  right: 2%; /* This is closer to the scrollbar */
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  #Profile {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  #Profile {
    width: 35%;
  }
}

@media screen and (min-width: 1200px) {
  #Profile {
    width: 35%;
  }
}
