#About {
  padding: 2rem 0;
  text-align: center;
}

#About h2, h3, h4 {
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-me-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 2rem;
}

.col-md-4 {
  text-align: center;
}

.col-md-8 {
  font-size: 18px;
  line-height: 1.6;
}

#Profile {
  border: 1px solid #007bff;
  padding: 2px;
  position: inline-block;
  border-radius: 4%;
  width: 36.5%;
  margin: -25.5% 50% -100px 66%; 
  box-shadow: 10px 4px 6px rgba(255, 255, 255, 0.753) (0, 0, 0, 0.1);
}

.profile-container {
display: relative;
border: 1rem;
}

#about h2, h3, h4, h5, a {
position: relative;
display: flex;
justify-content: flex-start;
align-self: flex-start;
align-content: flex-start;
}

.download-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}