
#Contact {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
#Contact label {
  display: flex;
  border: solid 1px #ccc;
  font-weight: bold;
  /* margin-bottom: 5px; */
}
.contact-heading {
  font-size: 44px;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* Styling for input fields */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 16px;
  resize: none;
}

/* Styling for validation errors */
.ValidationError {
  color: red;
  font-size: 14px;
}

button {
  max-width: var(--space-6);
  padding: 10px;
  border: 2px solid black;
  border-radius: 3px solid white;
  font-size: 16px;
  background-color: #ccc;
  cursor: pointer;
}


#email {
  color: black;
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);  
  background: var(--black);
  color: var(--white);  
  max-width: var(--space-8);
  margin: 0 auto;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

#message {
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
  background: var(--black);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 2px solid white;
}

input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}