footer {
  position: relative;
  top: 450px;
  right: 75px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}


.col-sm-5 copyright{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}