footer {
  display: flex;
  padding: 30px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

  /* .container {
  display: flex;
  position: relative;
  padding: 10px;
  max-width: 65%;
  margin: 0 auto;
}  */

/* .col-sm-5 copyright {
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */

#current-year {
  text-align: center;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
}


