@media screen and (min-width: 480px) {
  .disciplines {
    flex-direction: row;
  }
}



.to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

